
<% @users.each do |user| %>
  <div class="card card-extra">
    <div class="card-content">
      <p class="title">
        <%= user.name %>
      </p>
    </div>
    <footer class="card-footer">
      <p class="card-footer-item">
        <span>
          <%= show_request(user.id) %>
        </span>
      </p>
      <p class="card-footer-item">
        <span>
          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
        </span>
      </p>
    </footer>
  </div>
<% end %>
