<h1>Your pending friendship requests</h1>

<ul>
<% @pending.each do |sender| %>
    <li>
    <%= link_to  sender.name, user_path(sender.id) %>
    <%= link_to 'Accept', friendship_path(id: notification_id(sender.id, current_user.id), status: 'friends'), method: :put %>
    <%= link_to 'Reject',friendship_path(id: notification_id(sender.id, current_user.id), status: 'rejected'), method: :put %>
    </li>
<% end %>
</ul> 