<section class="user-section">
  <figure class="image is-128x128">
    <%= profile_image %>
  </figure>
  <h2><%= "Name: #{@user.name}" %></h2>
  <%= show_request(@user.id) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
